<!--begin::Page title-->
{% load static%}
<div
  data-kt-swapper="true"
  data-kt-swapper-mode="prepend"
  data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}"
  class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0"
>
  <!--begin::Title-->
  <h1 class="d-flex text-dark fw-bolder fs-3 align-items-center my-1">
    Dashboard

    <!--begin::Description-->
    {% if breadcrumbs %} {% for breadcrumb in breadcrumbs %}
    <!--begin::Separator-->
    <span
      class="h-20px border-1 border-gray-200 border-start ms-3 mx-2 me-1"
    ></span>
    <!--end::Separator-->
    {% if breadcrumb.url %}
    <span class="text-muted fs-7 fw-bold mt-2">
     <a href="{{ breadcrumb.url }}">{{ breadcrumb.title }}</a> 
    </span>
    {% else %} {{ breadcrumb.title }} {% endif %} {% endfor %} {% endif%}

    <!--end::Description-->
  </h1>
  <!--end::Title-->
</div>
<!--end::Page title-->

{% comment %} {% if breadcrumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li class="breadcrumb-item {% if breadcrumb.active %} active {% endif %}">
      {% if breadcrumb.url %}
      <a href="{{ breadcrumb.url }}">{{ breadcrumb.title }}</a>
      {% else %} {{ breadcrumb.title }} {% endif %}
    </li>
    {% endfor %}
  </ol>
</nav>
{% endif %} {% endcomment %}
